<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="POST" action="/user/login">
        <label for="name" style="min-width: 70px;">Username:</label>
        <input type="text" name="name" style="margin-bottom: 10px;">
        <br>
        <label for="password" style="min-width: 70px;">Password:</label>
        <input type="text" name="password">
        <br>
        <input type="submit" value="Đăng Nhập">
    </form>
</body>

</html>